.lead-cases {
	padding-bottom: 140px;


	&__title {
		position: relative;

		margin-bottom: 60px;

		text-align: center;
		letter-spacing: 0.02em;

		color: #636464;

		font-size: 36px;
		font-weight: 600;
		line-height: 60px;

		&:after {
			position: absolute;
			left: 50%;

			display: block;

			width: 90px;
			height: 5px;

			content: "";
			transform: translateX(-50%);

			background-color: $primary-purple-color;
			}
		}
	}
