.form {
	position: relative;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	max-width: 600px;

	&__input {
		margin-bottom: 30px;
		padding: 15px 25px;

		color: $primary-black-color;
		border: 3px solid rgba(137, 137, 233, 0.5);
		border-radius: 10px;

		font: {
			size: 18px;
			weight: 400;
			}

		&:focus {
			outline: none;
			box-shadow: 0 0 15px #0462ff;
			}

		&::placeholder {
			color: rgba(45, 45, 45, 0.5);

			font: {
				size: 16px;
				weight: 300;
				}
			}
		}

	&__name, &__number, &__email, &__country {
		width: calc(40% - 15px);
		}

	&__company, &__message {
		width: 100%;
		}

	&__attach {
		position: absolute;
		z-index: 0;
		top: -3px;
		left: -50px;

		height: 40px;
		padding-top: 15px;

		cursor: pointer;

		color: $primary-gray-color;
		border-radius: 90% 65% 76% 97%;

		font: {
			size: 16px;
			weight: 400;
			}

		&::-webkit-file-upload-button {
			visibility: hidden;
			}

		&:focus {
			outline: none;
			}

		&-wrapper {
			position: relative;

			overflow: hidden;

			margin-bottom: 30px;
			padding: 10px 230px 0 0;
			}
		}

	&__new-btn {
		position: relative;
		z-index: 2;
		top: -10px;
		left: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 45px;
		height: 45px;

		cursor: pointer;

		border-radius: 50%;
		background-color: $primary-purple-color;

		&:focus {
			outline: none;
			box-shadow: 0 0 15px #0462ff;
			}

		& > img {
			height: 22px;
			}
		}

	&__submit {
		width: 100%;

		border: none;

		-webkit-appearance: none;
		}

	& > label {
		position: absolute;

		opacity: 0;
		}
	}

@media only screen and (max-width: $max-width-xs-device) {
	.form {
		&__name, &__number, &__email, &__country {
			width: 100%;
			}
		}
	}
