.form
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  max-width: 600px
  position: relative
  &__input
    margin-bottom: 30px
    border: 3px solid rgba(137, 137, 233, 0.5)
    border-radius: 10px
    padding: 15px 25px
    font:
      size: 18px
      weight: 400
    color: $primary-black-color
    &:focus
      outline: none
      box-shadow: 0 0 15px #0462ff
    &::placeholder
      font:
        size: 16px
        weight: 300
      color: rgba(45, 45, 45, 0.5)
  &__name, &__number, &__email, &__country
    width: calc(40% - 15px)
  &__company, &__message
    width: 100%
  &__attach
    position: absolute
    height: 40px
    top: -5px
    padding-top: 15px
    left: -50px
    border-radius: 90% 65% 76% 97%
    cursor: pointer
    z-index: 0
    font:
      size: 16px
      weight: 400
    color: rgba(45, 45, 45, 0.5)
    &::-webkit-file-upload-button
      visibility: hidden
    &:focus
      outline: none
    &-wrapper
      position: relative
      margin-bottom: 30px
      overflow: hidden
      padding: 10px 230px 0 0
  &__new-btn
    position: relative
    cursor: pointer
    top: -10px
    left: 0
    width: 45px
    height: 45px
    background-color: $primary-purple-color
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    z-index: 2
    &:focus
      outline: none
      box-shadow: 0 0 15px #0462ff
    & > img
      height: 22px
  &__submit
    width: 100%
