form.form(action="#")
  input.form__input.form__name(placeholder="Full name")
  input.form__input.form__number(placeholder="Phone number")
  input.form__input.form__email(placeholder="E-mail")
  input.form__input.form__country(placeholder="Country")

  input.form__input.form__company(placeholder="Company")
  textarea.form__input.form__textarea.form__message(placeholder="Message")
  .form__attach-wrapper
    a.form__new-btn
      img(src="./../../components/Form/images/arrow-up-solid.svg")
    input#upload(type="file").form__attach
