doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Datarob | Blog
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="./Blog.js")
  body
    include ./../../components/Header/Header.pug
    main.main
      include ./../../components/LeadGenerationBlog/LeadGenerationBlog.pug
      include ./../../components/Subscribe/Subscribe.pug

    include ./../../components/Footer/Footer.pug
