@import "../../assets/styles/_reset";
@import "../../assets/styles/_font";
@import "../../assets/styles/_variables";
@import "../../assets/styles/_button";
@import "../../assets/styles/_based";

@import "../../components/Header/Header";
@import "../../components/Lead-generation/Lead-generation";
@import "../../components/Sales-boost/Sales-boost";
@import "../../components/Local-lead/Local-lead";
@import "../../components/How-it-works/How-it-works";
@import "../../components/Premium-lead/Premium-lead";
@import "../../components/Next/Next";
@import "../../components/Contact-us/Contact-us";
@import "../../components/Footer/Footer";
