section.subscribe
  .subscribe__container.container
    - let description = 'From time to time we will post insights on free lead generation tools, our tested hacks, and email templates that worked for us.';
    .subscribe__description= description
    form.subscribe__form(action="https://formspree.io/xaydlobo", method="POST")
      - let subscriptionTitle = 'Stay tuned!';
      .subscribe__title= subscriptionTitle
      .subscribe__box
        input.subscribe__input(type="email", placeholder="E-mail", required)
        input.subscribe__submit(type="submit", value="SUBSCRIBE")
