section.subscribe
  .subscribe__container.container
    form.subscribe__form(action="https://formspree.io/xaydlobo", method="POST")
      - let subscriptionTitle = 'Stay tuned!';
      .subscribe__title= subscriptionTitle
      .subscribe__box
        input.subscribe__input(type="email", placeholder="E-mail", required)
        input.subscribe__submit(type="submit", value="SUBSCRIBE")
