.blog {
	&__box {
		max-width: 1200px;
		margin: 0 auto;
		}


	}

.default {
	& .leadGenerationBlog__container {
		padding: 0;
		}
	}

.post {
	&-feed {
		padding: 40px 15px 0 !important;
		}

	&-card {
		&-excerpt p {
			font-size: 16pt;
			line-height: 24pt;
			}

		&__reading-time {
			text-transform: lowercase !important;

			color: $primary-purple-color !important;

			font: {
				family: $primary-font;
				weight: 500 !important;
				size: 20px !important;
				}
			}

		&-title {
			font-size: 18pt !important;

			}
		}

	&-title {
		font-size: 18pt;
		}

	}
