@import src/components/Form/Form
@import src/components/Contact-slider/Contact-slider
.contact
  margin-bottom: 100px
  &__wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center
    & > div
      padding-bottom: 50px
      max-width: 50%
