.contact-slider
  .contact-slider__track(data-glide-el="track")
    ul.contact-slider__slides
      -
        let contactSlider = [
          {
            img: './../components/Contact-slider/images/E.G.Galano.jpg',
            alt: 'E.G. Galano\n',
            name: 'E.G. Galano\n',
            description: 'Datarob has helped Infura with the sales strategy tremendously. From providing quality leads to very helpful insights that we used to train our team on for smart outreach. I was most impressed that they put in the effort to deeply understand our customers and blockchain environment. I will definitely be working with Datarob again...'
          },
          {
            img: './../components/Contact-slider/images/ANDREW-SHARK.jpg',
            alt: 'Andrew Shark',
            name: 'Andrew Shark',
            description: 'We engaged with the Datarob team to develop our outbound and saw a significant growth to our pipeline. With lead research, our average deal size grew twice bigger than with inbound.'
          },
          {
            img: './../components/Contact-slider/images/JAKE-GEOZILLA.jpg',
            alt: 'Jake, GeoZilla',
            name: 'Jake, GeoZilla',
            description: 'Datarob has executed a successful strategy to increase leads, which has facilitated business growth and improved revenue. The team has been reliable and directed the collaboration effectively.'
          },
        ]
      each slide in contactSlider
        li.contact-slider__slide
          .contact-slider__slide-image
            img(src=slide.img, alt=slide.alt)
          .contact-slider__slide-name #{slide.name}
          .contact-slider__slide-description #{slide.description}
