.contact-slider
  .contact-slider__track(data-glide-el="track")
    ul.contact-slider__slides
      -
        let contactSlider = [
          {
            img: './../../components/Contact-slider/images/person.jpg',
            alt: 'E.G. Galano\n',
            name: 'E.G. Galano\n',
            description: '"Datarob has helped Infura with my sales strategy tremendously. From providing quality leads to very helpful insights that we used to train our team on to be stronger closers. I was most impressed that they put in the effort to deeply understanding our customers and blockchain environment. I will definitely be working with Datarob again...”\n'
          },
          {
            img: './../../components/Contact-slider/images/person.jpg',
            alt: 'E.G. Galano\n',
            name: 'E.G. Galano\n',
            description: '"Datarob has helped Infura with my sales strategy tremendously. From providing quality leads to very helpful insights that we used to train our team on to be stronger closers. I was most impressed that they put in the effort to deeply understanding our customers and blockchain environment. I will definitely be working with Datarob again...”\n'
          },
          {
            img: './../../components/Contact-slider/images/person.jpg',
            alt: 'E.G. Galano\n',
            name: 'E.G. Galano\n',
            description: '"Datarob has helped Infura with my sales strategy tremendously. From providing quality leads to very helpful insights that we used to train our team on to be stronger closers. I was most impressed that they put in the effort to deeply understanding our customers and blockchain environment. I will definitely be working with Datarob again...”\n'
          },
        ]
      each slide in contactSlider
        li.contact-slider__slide
          .contact-slider__slide-image
            img(src=slide.img, alt=slide.img)
          .contact-slider__slide-name #{slide.name}
          .contact-slider__slide-description #{slide.description}
