.header {
	position: sticky;
	z-index: 99999;
	top: 0;

	background-color: $primary-white-color;

	&__burger {
		display: none;
		}

	&__logo {
		width: 141px;
		height: 27px;
		}

	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		padding: 33px 0;
		}

	&__nav {
		&-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			margin: 0;
			padding-right: 0;
			padding-left: 0;
			}

		&-item {
			margin: 0;
			margin-right: 70px;
			padding-left: 0;

			list-style: none;

			line-height: 1.5;

			& > a {
				position: relative;

				text-decoration: none;

				color: $primary-black-color;
				border-radius: 10px;

				font-size: 20px;

				&:before {
					position: absolute;
					bottom: -5px;

					width: 0;
					height: 5px;

					content: "";
					transition: all 0.1s linear;

					background-color: $primary-purple-color;
					}

				&:hover {
					text-decoration: none;

					&:before {
						width: 100%;
						}

					&:last-child {
						margin-right: 0;
						}
					}

				&:focus-within {
					&:before {
						width: 100%;
						}
					}
				}
			}
		}
	}

@media only screen and (max-width: $max-width-md-device) {
	.header {
		&__container {
			padding-right: 15px;
			padding-left: 15px;
			}
		}
	}

@media only screen and (max-width: $max-width-sm-device) {
	.header {
		position: fixed;
		z-index: 999;

		width: 100vw;

		&__logo {
			position: relative;
			z-index: 10;
			}

		&__burger {
			position: relative;
			z-index: 10;

			display: flex;

			width: 25px;

			cursor: pointer;

			&-box {
				position: absolute;
				right: 25px;
				}
			}

		&__container {
			position: relative;
			z-index: 10;

			padding: 33px 15px;
			}

		&__nav {
			position: absolute;
			left: 0;

			width: 100%;

			&-bg {
				position: absolute;
				z-index: 5;
				top: -33px;
				left: 50%;

				width: 120%;
				height: 100px;

				transform: translateX(-50%);

				background: white;
				}

			&-list {
				position: absolute;
				z-index: -1;
				top: -500px;
				left: 50%;

				overflow: hidden;
				align-items: center;
				flex-direction: column;

				width: 100vw;
				padding: 20px;

				transition: all 0.4s ease-in-out;
				transform: translateX(-52%);

				color: $primary-white-color;
				background-color: $primary-purple-color;

				&--active {
					top: 65px;

					display: flex;
					}
				}

			&-item {
				margin: 0 auto;

				&:last-child {
					margin: 0 auto 0;
					}

				& > a {
					color: $primary-white-color;
					}
				}
			}
		}
	.default .header__nav-list {
		transform: translateX(-50%);
		}
	}

@media only screen and (max-width: $max-width-xs-device) {
	.header {
		&__nav {
			&-list {
				transform: translateX(-54%);
				}
			}
		}
	}
