header.header
  .header__container.container
    a.header__logo-link(href="/")
      - let logo = './../components/Header/images/logo.svg';
        img.header__logo(src=logo, alt="datarob-logo")
    .footer__burger-box
      img.header__burger(
        src="./../components/Header/images/bars-solid.svg",
        alt="burger"
      )
    nav.header__nav
      .header__nav-bg
      ul.header__nav-list
        -
          let array = [
              {
                  title: 'Clients',
                  link: '/clients/'
              },
              {
                  title: 'Blog',
                  link: 'https://datarob.com/blog/'
                  // link: './Blog.pug'
              },
              {
                  title: 'FAQ',
                  link: '/lead-generation-faq-definition/'
              },
              {
                  title: 'Contact',
                  link: './Contact.pug'
              }
          ]
        each nav in array
          li.header__nav-item
            a(href=nav.link)= nav.title
