header.header
  .header__container.container
    a(href="/").header__logo-link
      - let logo = './../../components/Header/images/logo.svg';
        img.header__logo(src=logo)
    nav.header__nav
      ul.header__nav-list
        - let array = [{title: 'Client', link: '/'},{title: 'Blog', link: '/'},{title: 'FAQ', link: '/'},{title: 'Contact', link: '/'}]
          each nav in array
            li.header__nav-item
              a(href=nav.link)= nav.title
