.footer {
	position: relative;

	padding: 60px 0;

	color: $primary-white-color;
	background-color: $primary-black-color;

	&:before {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		content: "";

		background-color: $primary-purple-color;
		}

	&__container {
		position: relative;
		z-index: 5;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 100%;
		max-width: 280px;

		&:last-child {
			align-items: flex-end;
			}
		}

	&__logo {
		width: 148px;
		height: 28px;
		margin-bottom: 40px;
		}

	&__phone {
		&-icon {
			width: 23px;
			}

		&-link {
			display: block;

			width: 100%;

			letter-spacing: 0.9px;

			color: $primary-white-color;
			}

		&-wrapper {
			margin-bottom: 25px;
			}
		}

	&__map {
		&-icon {
			width: 19px;
			}

		&-link {
			display: block;

			width: 100%;
			margin-bottom: 5px;

			color: $primary-white-color;

			&:last-child {
				margin-bottom: 0;
				}
			}
		}

	&__item {
		margin-bottom: 20px;

		list-style: none;

		&-link {
			text-transform: capitalize;

			color: $primary-white-color;
			}

		&:last-child {
			margin-bottom: 0;
			}
		}

	&__icon {
		&-box {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			max-width: 150px;
			}

		&-link {
			margin-right: 30px;
			margin-bottom: 30px;
			}

		&-circle {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 40px;
			height: 40px;

			border: 2px solid $primary-white-color;
			border-radius: 50%;
			}

		&-svg {
			height: 18px;
			}
		}

	&__lead-generation {
		& > p,
		& > a {
			display: block;

			text-align: right;

			color: $primary-white-color;
			}
		}

	&__regulations {
		&-link {
			text-decoration: underline;

			color: $primary-white-color;

			&:first-child {
				margin-right: 25px;
				}
			}
		}
	&__mail {
		font-size: 24px;
		}
	}

@media only screen and (max-width: $max-width-l-device) {
	.footer {
		&__wrapper {
			align-items: flex-start;

			max-width: calc(33% - 22px);
			margin-bottom: 40px;
			padding-right: 30px;
			&:nth-child(3) {
				display: none;
				}

			&:last-child {
				align-items: flex-start;

				padding-right: 0;
				}
			}
		}
	}

@media only screen and (max-width: $max-width-xs-device) {
	.footer {
		overflow: hidden;

		padding: 60px 0 0;

		&__wrapper {
			align-items: center;

			max-width: 100%;

			&:last-child {
				align-items: center;
				}
			}

		&__phone,
		&__map {
			&-icon {
				margin-right: 10px;
				}

			&-wrapper {
				display: flex;
				align-items: flex-start;
				}
			}

		&__item {
			text-align: center;
			}

		&__map {
			&-icon {
				position: relative;
				top: -6px;
				}

			&-link {
				margin-bottom: 20px;
				}
			}

		&__lead-generation {
			& > p {
				text-align: center;
				}
			}

		&__icon {
			&-box {
				justify-content: center;
				}

			&-link {
				&:nth-child(2n) {
					margin-right: 0;
					}
				}
			}
		}
	}
