.leadGenerationBlog {
	padding: 100px 0 0;

	&__container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		}

	&__box {
		width: 100%;

		&-image {
			height: 400px;
			}
		}

	&__title {
		position: relative;

		margin-bottom: 60px;

		color: $primary-purple-color;

		font: {
			family: $primary-font;
			size: 28px;
			weight: 600;
			};
		line-height: 1;

		&:after {
			position: absolute;
			bottom: -30px;
			left: 0;

			width: 100px;
			height: 5px;

			content: "";

			background-color: $primary-purple-color;
			}
		}

	&__description {
		width: 100%;
		max-width: 510px;
		margin-bottom: 20px;

		color: #141414;

		font: {
			size: 22px;
			weight: 300;
			family: $primary-font;
			}
		}
	}

.blog .leadGenerationBlog {
	&__container {
		margin: 0;
		padding: 0;
		}
	}

@media only screen and (min-width: $max-width-sm-device) {
	.leadGenerationBlog {
		&__title {
			font: {
				size: 55px;
				}
			}

		&__box {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			width: 50%;
			margin-bottom: 20px;

			}

		&__img {
			width: 100%;
			}
		}
	}

@media only screen and (min-width: $max-width-md-device) {
	.leadGenerationBlog {
		&__description {
			width: 100%;
			}

		&__box {
			align-items: flex-start;
			}
		}
	}

@media only screen and (min-width: $max-width-l-device) {
	.leadGenerationBlog {
		padding: 50px 0 0;

		&__box {
			&-description {
				width: 50%;
				}

			&-image {
				position: absolute;
				top: 30px;
				right: -252px;

				width: 70%;
				height: 100%;
				}
			}
		}
	}
@media only screen and (max-width: $max-width-sm-device) {
	.leadGenerationBlog {
		&__box-description {
			text-align: center;
			}
		&__title {
			&:after {
				left: 50%;

				transform: translateX(-50%);
				}
			}
		&__description {
			margin: 0 auto 20px;
			}
		}
	}
