.sales-boost {
	&__box {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		margin-bottom: 160px;
		}

	&__source {
		$this: &;

		position: relative;

		flex: 1 1 25%;

		&:nth-child(1), &:nth-child(3) {
			&:before {
				position: absolute;
				top: 55px;
				right: 0;

				width: 35px;
				height: 35px;

				content: "";
				transform: rotate(60deg);

				background-image: url(./../../components/Sales-boost/images/footprint.svg);
				}

			&:after {
				position: absolute;
				top: 100px;
				right: -40px;

				width: 35px;
				height: 35px;

				content: "";
				transform: rotate(125deg);

				background-image: url(./../../components/Sales-boost/images/footprint.svg);
				}
			}

		&:nth-child(2) {
			&:before {
				position: absolute;
				top: 100px;
				right: 0;

				width: 35px;
				height: 35px;

				content: "";
				transform: rotate(60deg);

				background-image: url(./../../components/Sales-boost/images/footprint.svg);
				}

			&:after {
				position: absolute;
				top: 55px;
				right: -40px;

				width: 35px;
				height: 35px;

				content: "";
				transform: rotate(125deg);

				background-image: url(./../../components/Sales-boost/images/footprint.svg);
				}

			#{$this}-picture > img {
				position: relative;
				left: 20px;
				}
			}

		&:nth-child(4) {
			#{$this}-picture > img {
				position: relative;
				left: 30px;
				}
			}

		&-image {
			display: block;

			height: 170px;
			margin: 0 auto 15px;
			}

		&-title {
			width: 100%;

			text-align: center;
			letter-spacing: 4.5px;

			font-size: 22.5px;
			font-weight: bold;
			}
		}
	}

@media only screen and (max-width: $min-width-md-device) {
	.sales-boost {
		&__source {
			flex: 1 1 50%;

			margin-bottom: 40px;

			&:after, &:before {
				content: none !important;
				}
			}
		}
	}

@media only screen and (max-width: $min-width-xs-device) {
	.sales-boost {
		&__box {
			margin-bottom: 50px;
			}

		&__source-image {
			height: 100px;
			}
		}
	}
