.sales-boost 
  &__title
    width: 100%
    text-align: center
    font:
      size: 36px
      weight: 500
    color: $primary-gray-color
    position: relative
    &:before
      position: absolute
      content: ''
      width: 100px
      height: 5px
      left: 50%
      bottom: -5px
      transform: translateX(-50%)
      background-color: $primary-purple-color