body
    font-family: $primary-font
    font-size: 16px
    font-weight: 400
    line-height: 1.5

    color: $primary-black-color

.container
    position: relative

    width: 100%
    max-width: 1170px
    margin: 0 auto
    padding: 0 15px

.title
    font-size: 36px
    font-weight: 500

    position: relative

    width: 100%
    margin-bottom: 100px

    text-align: center

    color: $primary-gray-color

    &:before
        position: absolute
        bottom: -10px
        left: 50%

        width: 100px
        height: 5px

        content: ''
        transform: translateX(-50%)

        background-color: $primary-purple-color
